*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	
	/* colors */
	--primary:rgb(36,154,255);
	--secondaryL:rgb(255,255,255);
	--secondaryD:rgb(0,0,0);
	
	/*numbers*/
	--scrollingProducts:6;
}

main{
	padding-top:3.2em;
	padding-bottom:3.2em;
}
nav{
	
	/*Color*/
	background-color: var(--primary);
	color:white;
	
	
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
	/*Height and width*/
	width:100vw;
	height:3em;
	
	/*setting the position of the selected*/
	position: fixed;
  bottom:0;
}
h3{
	text-align: center;
}

.topSelling{
	display:flex;
	flex-wrap: wrap;
	gap:2em;
	justify-content: center;
}

.cardContainer{
	display:flex;
	justify-content: center;
	height:250px;
	width:150px;
	outline: solid;
	border-radius: 1em;
	box-shadow: 10px 10px 10px grey;
}
.card{
	height:150px;
	width:100px;
	outline: solid;
	border-radius: 1em;
	margin-top:25px;
}

#search_bar{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	/*Color*/
	background-color: var(--primary);
	color:white;
	
	/*Height and width*/
	width:100vw;
	height:3em;
	
	/*setting the position of the selected*/
	position: fixed;
  top:0;
}

#sb_bg{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	/*Height and width*/
	width:70vw;
	height:2em;
	border-radius: 1em;
	
	/*Color*/
	background-color: var(--secondaryL);
	opacity: 0.8;
}
#sb_bg>input{
	opacity: unset;
	background-color:transparent;
	outline:none;
	border:none;
}
#sb_bg>button{
	opacity: unset;
	height:2em;
	border-radius:1em;
	border:none;
	background-color: transparent;
	aspect-ratio: 1;
	object-fit: cover;
}

#scrollingProducts{
	display:flex;
	height:35%;
	width:100vw;
  overflow-x: auto;
}
#scrollingProducts>div{
	height:100%;
	min-width:70vw;
	max-width:70vw;
	outline:solid;
}
#a{
	background-color: orange;
}
#s{
	background-color: cyan;
}
#d{
	background-color: green;
}
#f{
	background-color: yellow;
}
#g{
	background-color: orange;
}
#h{
	background-color: red;
}
